.current-task-section-btn {
  display: flex;
  color: #27fb6b;
  column-gap: 8px;
  width: fit-content;
  border: 1px solid #27fb6b;
  padding: 10px 48px;
  border-radius: 50px;
  align-self: center;
  margin-top: auto;
  transition: all 250ms ease-in-out;
}
.current-task-section-btn:hover {
  background-color: #27fb6b;
  color: #3d3d3a;
}
.current-task-section-btn svg path {
  transition: all 250ms ease-in-out;
}
.current-task-section-btn:hover svg path {
  fill: #3d3d3a;
}
.current-task-section {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
}
.cts-begin-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2b29;
  transition: opacity 250ms ease-in-out;
}

.cts-begin-btn svg {
  width: 16px;
  height: 16px;
}

.cts-begin-btn.inactive {
  opacity: 0;
  visibility: hidden;
}
