.current-task-section-btn {
  display: flex;
  color: #27fb6b;
  column-gap: 8px;
  width: fit-content;
  border: 1px solid #27fb6b;
  padding: 10px 48px;
  border-radius: 50px;
  align-self: center;
  margin-top: auto;
  transition: all 250ms ease-in-out;
}
.current-task-section-btn:hover {
  background-color: #27fb6b;
  color: #3d3d3a;
}
.current-task-section-btn svg path {
  transition: all 250ms ease-in-out;
}
.current-task-section-btn:hover svg path {
  fill: #3d3d3a;
}
.current-task-section {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
}
.ctc-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2b29;
  transition: opacity 250ms ease-in-out;
}
.cts-div {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  height: 90%;
}

.ctc-btn svg {
  width: 16px;
  height: 16px;
}

.ctc-btn.inactive {
  opacity: 0;
  visibility: hidden;
}
.streak {
  display: flex;
  column-gap: 4px;
}
.streak-bar {
  margin-left: 12px;
  padding: 4px 0px;
  width: 12px;
  position: relative;
  bottom: -2px;
  display: grid;
  place-content: center;
  background-color: #2b2b29;
  border-radius: 4px;
  height: 50px;
  container-type: size;
  transform: rotate(180deg);
}

.streak-bar-ind {
  border-radius: 5px;
  overflow: hidden;
  transition: height 50ms ease-in-out;
}
.streak-bar-ind-bg {
  height: 100cqh;
  background: linear-gradient(to top, #90ee90, #ff474c);
  width: 3px;
}
.alm-btn {
  transition: all 250ms ease-in-out;
  transform: translateX(0px);
}
.alm-active {
  transform: translateX(-44px);
}
.alm-btn svg {
  height: 20px;
  width: 20px;
  color: #b50000;
}
.alm-btn:hover svg {
  color: #2b2b29;
}
.alm-btn:hover {
  background-color: #b50000;
}
