.app-div {
  width: 100vw;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main {
  display: grid;
  width: 100%;
  height: 750px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
  padding: 12px;
  justify-content: center;
}
.section {
  background-color: #3d3d3a;
  min-width: 30px;
  border-radius: 60px;
  padding: 20px;
  min-width: 335px;
}
.section-title {
  display: flex;
  column-gap: 10px;
  align-items: center;
  text-transform: capitalize;
  padding: 5px 10px;
  border-radius: 28px;
  width: fit-content;
  background-color: #2b2b29;
}
.sub-font {
  color: #808080;
}
.task-queue-section {
  grid-row: span 7;
}
.completed-task-section {
  grid-row: span 7;
}
.current-task-section {
  grid-row: span 4;
}
.add-task-section {
  grid-row: span 3;
}
.fallback-div {
  background-color: #2b2b29;
  padding: 12px;
  border-radius: 10px;
  width: fit-content;
  align-self: center;
  margin-top: 8px;
  opacity: 0.6;
}
.card {
  position: relative;
  background-color: #2b2b29;
  border-radius: 25px;
  padding: 15px;
}
.header {
  display: flex;
  align-items: center;
  width: 103%;
  padding: 20px 0px;
  justify-content: space-between;
}

.section::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
.section:hover::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.section::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 36px;
}
.section::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 36px;
}
.google-div {
  height: 44px;
  width: auto;
}

.top-menu {
  height: 44px;
  background-color: #3d3d3a;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-radius: 60px;
  column-gap: 10px;
  width: fit-content;
  position: relative;
}

.top-menu > button {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2b29;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
.top-menu > button svg {
  color: #fbd1a2;
}
.top-menu > button:hover,
.top-menu > button.active {
  background-color: #fbd1a2;
}
.top-menu > button:hover svg,
.top-menu > button.active svg {
  color: #2b2b29;
}
.top-menu > .drop-down {
  position: absolute;
  border: 1px solid #4c4c4c;
  background-color: #3d3d3a;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 24px 12px;
  width: 300px;
  right: 0px;
  top: 50px;
  z-index: 99;
  transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  border-radius: 30px;
  transition: all 150ms ease-in-out;
}
.top-menu > .drop-down:has(.google-div) {
  width: fit-content;
  padding: 8px 6px;
  height: fit-content;
  border-radius: 20px;
}
.top-menu > .drop-down.active {
  display: block;
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}
.drop-down .range-input-background {
  background: #fbd1a2;
}
.toggle {
  width: 40px;
  height: 24px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: #2b2b29;
}
.toggle > .knob {
  height: 104%;
  width: 60%;
  background-color: #808080;
  border-radius: 50%;
  display: grid;
  transition: all 150ms ease-in-out;
  place-content: center;
  cursor: pointer;
}
.toggle > .knob svg {
  color: #2b2b29;
  height: 16px;
  width: 16px;
}

.knob.active {
  transform: translateX(16px);
  background-color: #fbd1a2;
}
