:root {
  background-color: #242424;
  font-family: "Roboto", Inter, system-ui, sans-serif;
  font-weight: 500;
  color: #808080;
}
*::after,
*,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
input {
  outline: none;
}
button {
  all: unset;
  cursor: pointer;
}
button:focus:not(:focus-visible) {
  outline: none;
}
button:focus {
  outline: 3px solid white;
}
